<!DOCTYPE html>
<html lang="ko">

<head>
    <title>GPS 카카오 연동</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/client/css/home.css">
</head>

<body>
    <div class="container wrapper">
        <section class="top">
            <div class="banner">
                <img src="/client/file/banner.png" alt="banner">
            </div>

            <div class="way_home container ">
                <div class="way">
                    <div class="way_title">
                        <p><span> 스탬프투어 방법 </span></p>
                    </div>
                    <div class="way_contents">
                        <div class="way_circle_all">
                            <div class="way_circle">
                                <div class="way_text">
                                    <div class="way_text_top">
                                        <p>step 1</p>
                                    </div>
                                    <div class="way_text_bottom">
                                        <p>맵을 보며</p>
                                        <p>해당장소 찾기</p>
                                    </div>
                                </div>
                            </div>
                            <div class="way_arrow">
                                <img src="/client/file/way_arrow.png" alt="arrow">
                            </div>
                            <div class="way_circle">
                                <div class="way_text">
                                    <div class="way_text_top">
                                        <p>step 2</p>
                                    </div>
                                    <div class="way_text_bottom">
                                        <p>해당 장소에서</p>
                                        <p>QR 찍기</p>
                                    </div>
                                </div>
                            </div>
                            <div class="way_arrow">
                                <img src="/client/file/way_arrow.png" alt="arrow">
                            </div>
                            <div class="way_circle">
                                <div class="way_whale">
                                    <img src="/client/file/whale_s.png" alt="whale">
                                </div>
                                <div class="way_text">
                                    <div class="way_text_top">
                                        <p>step 3</p>
                                    </div>
                                    <div class="way_text_bottom">
                                        <p>모든 스탬프</p>
                                        <p>획득 후</p>
                                        <p>상품확인</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="button">
            <div class="button_contents">
                <div class="button_object">
                    <a href="/stamp">
                        <div class="button_object_img">
                            <img src="/client/file/stamp.png" alt="stamp">
                        </div>
                        <div class="button_object_text">
                            <p>스탬프</p>
                        </div>
                    </a>
                </div>
                <div class="button_object">
                    <a href="/restaurant">
                        <div class="button_object_img">
                            <img src="/client/file/restaurant.png" alt="restaurant">
                        </div>
                        <div class="button_object_text">
                            <p>맛집소개</p>
                        </div>
                    </a>
                </div>
                <div class="button_object">
                    <a href="/parking">
                        <div class="button_object_img">
                            <img src="/client/file/parking.png" alt="parking">
                        </div>
                        <div class="button_object_text">
                            <p>주차안내</p>
                        </div>
                    </a>
                </div>
                <div class="button_object">
                    <a href="/come">
                        <div class="button_object_img">
                            <img src="/client/file/map.png" alt="map">
                        </div>
                        <div class="button_object_text">
                            <p>오시는 길</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>


<!-- bootstrap navbar -->
<%- include('footer.html') %>
<!-- // bootstrap navbar -->


</body>

</html>