<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash</title>
    <link rel="stylesheet" href="/client/css/splash.css">
</head>

<body>
    <header>
        <div class="title">
            <div class="title_stamp">
                <img src="/client/images/splash/stamp.png" alt="고래스탬프">
            </div>
            <div class="title_text">
                <p>장생포</p>
                <p>스탬프길로</p>
            </div>
        </div>
    </header>
    <section class="wave_whale">
        <img src="/client/images/splash/bottom_bg.png" alt="고래물결">
    </section>

    <script>
        setTimeout(function(){ 
            window.location.href="/login"
        }, 3000);
    </script>
</body>
</html>