<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/client/css/stamp.css">
    
</head>


<body>
    <div class="main container wrapper">
        <div class="bin"></div>

        <div class="dong1">
            <div class="dong2">
                <div class="dong3" id="img1"></div>
                <div class="name1">진입광장</div>
            </div>
            <div class="dong2">
                <div class="dong3"  id="img2"></div>
                <div class="name1">옛마을 </div>
            </div>
            <div class="dong2" >
                <div class="dong3"  id="img3"></div>
                <div class="name1">수생식물원 </div>
            </div>
            <div class="dong2">
                <div class="dong3" id="img4"></div>
                <div class="name1">고래이야기길</div>
            </div>
            <div class="dong2">
                <div class="dong3"  id="img5"></div>
                <div class="name1">토템플</div>
            </div>
            <div class="dong2">
                <div class="dong3"  id="img6"></div>
                <div class="name1">고래조각공원</div>
            </div>
            <div class="dong2">
                <div class="dong3"  id="img7"></div>
                <div class="name1">선사시대</div>
            </div>
            <div class="dong2">
                <div class="dong3"   id="img8"></div>
                <div class="name1">고래만나는길</div>
            </div>
            <div class="dong2">
                <div class="dong3"   id="img9"></div>
                <div class="name1">고래박물관</div>
            </div>
            <div class="dong2">
                <div class="dong3"   id="img10"></div>
                <div class="name1">고래광장</div>
            </div>
            <div class="dong2">
                <div class="dong3"   id="img11"></div>
                <div class="name1">생태체험관</div>
            </div>
            <div class="dong2">
                <div class="dong3"   id="img12"></div>
                <div class="name1">울산함</div>
            </div>
        </div>
    </div>

    <input type="hidden" id="db-value" value="<%=db%>" />
    
<!-- bootstrap navbar -->
<%- include('footer.html') %>
<!-- // bootstrap navbar -->



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/client/js/stamp.js"></script>

<!-- <script src="/server.js"></script> -->
</body>

</html>